/*.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.noto-serif-<uniquifier> {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}*/

body {
	margin: 10%;
	margin-top:2%;
	background-color: #f5f5f5;
	color: #0d1821;
}

h1 {
/*<weight> Use a value from 200 to 700*/
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-size: 180%;
}

h2 {
/*<weight> Use a value from 200 to 700*/
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-size: 140%;
}

p, li, a {
	/*color: white;*/
  font-family: "Teachers", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.today{
	font-style: bold;
}


section {
	margin-bottom: 10vh;
	margin-top: 10vh;
}

.Color {
	display: flex;
	/*margin: 10%;*/
	flex-direction: column;
	justify-content: center;
}


.colorbox {
	display: flex;
	/*margin-left: 10%;*/
	flex-direction: column;
	justify-content: center;
}

.colorbox {
	display: flex;
	/*margin-left: 10%;*/
	flex-direction: row;
	justify-content: center;
}


.slidernames {
	display: flex;
	/*margin-left: 10%;*/
	/*flex-direction: column;*/
	width: 360px;
	justify-content: space-between;
	align-items: center;
}

.RGBSection{
	display: flex;
	/*margin-left: 10%;*/
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sketch1 {
    position: relative; /* Add this line to make .sketch1 a positioned container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cycle-button {
    position: absolute;
    top: 10px;
    left: 10px;
}